In [6]:
import pandas as pd

In [7]:
mybalancedata=pd.read_csv(r"C:\Users\Hp\Desktop\New folder (2)\balance-scale.csv")

In [8]:
mybalancedata.keys()    ##key values of balance scale datasets

Index(['%class name', 'left-weight', 'left-distance', 'right-weight',
       'right-distance'],
      dtype='object')

In [9]:
mybalancedata.head()   ##head values

  %class name  left-weight  left-distance  right-weight  right-distance
0           B            1              1             1               1
1           R            1              1             1               2
2           R            1              1             1               3
3           R            1              1             1               4
4           R            1              1             1               5

In [10]:
mybalancedata.head(1)

  %class name  left-weight  left-distance  right-weight  right-distance
0           B            1              1             1               1

In [11]:
X_input=mybalancedata.drop(['%class name'],axis=1)   ##training data and testing data

In [12]:
Y_target=mybalancedata['%class name']

In [13]:
X_input

     left-weight  left-distance  right-weight  right-distance
0              1              1             1               1
1              1              1             1               2
2              1              1             1               3
3              1              1             1               4
4              1              1             1               5
5              1              1             2               1
6              1              1             2               2
7              1              1             2               3
8              1              1             2               4
9              1              1             2               5
10             1              1             3               1
11             1              1             3               2
12             1              1             3               3
13             1              1             3               4
14             1              1             3               5
15             1              1             4               1
16             1              1             4               2
17             1              1             4               3
18             1              1             4               4
19             1              1             4               5
20             1              1             5               1
21             1              1             5               2
22             1              1             5               3
23             1              1             5               4
24             1              1             5               5
25             1              2             1               1
26             1              2             1               2
27             1              2             1               3
28             1              2             1               4
29             1              2             1               5
..           ...            ...           ...             ...
595            5              4             5               1
596            5              4             5               2
597            5              4             5               3
598            5              4             5               4
599            5              4             5               5
600            5              5             1               1
601            5              5             1               2
602            5              5             1               3
603            5              5             1               4
604            5              5             1               5
605            5              5             2               1
606            5              5             2               2
607            5              5             2               3
608            5              5             2               4
609            5              5             2               5
610            5              5             3               1
611            5              5             3               2
612            5              5             3               3
613            5              5             3               4
614            5              5             3               5
615            5              5             4               1
616            5              5             4               2
617            5              5             4               3
618            5              5             4               4
619            5              5             4               5
620            5              5             5               1
621            5              5             5               2
622            5              5             5               3
623            5              5             5               4
624            5              5             5               5

[625 rows x 4 columns]

In [14]:
Y_target

0      B
1      R
2      R
3      R
4      R
5      R
6      R
7      R
8      R
9      R
10     R
11     R
12     R
13     R
14     R
15     R
16     R
17     R
18     R
19     R
20     R
21     R
22     R
23     R
24     R
25     L
26     B
27     R
28     R
29     R
      ..
595    L
596    L
597    L
598    B
599    R
600    L
601    L
602    L
603    L
604    L
605    L
606    L
607    L
608    L
609    L
610    L
611    L
612    L
613    L
614    L
615    L
616    L
617    L
618    L
619    L
620    L
621    L
622    L
623    L
624    B
Name: %class name, dtype: object

In [15]:
type(X_input)    ## type of training data

pandas.core.frame.DataFrame

In [16]:
X_new=X_input.values.reshape(len(X_input),4)  ##change the type of input from Datafreme to ndarray

In [17]:
type(X_new)

numpy.ndarray

In [30]:
X_new

array([[1, 1, 1, 1],
       [1, 1, 1, 2],
       [1, 1, 1, 3],
       ...,
       [5, 5, 5, 3],
       [5, 5, 5, 4],
       [5, 5, 5, 5]], dtype=int64)

In [19]:
type(Y_target)

pandas.core.series.Series

In [63]:
Y_new=Y_target.values.reshape(len(Y_target),)  ##change the type of y_target from Series to ndarray

In [37]:
type(Y_new)

numpy.ndarray

In [38]:
from sklearn.model_selection import train_test_split  ##modelling of data into train and test data

In [39]:
X_train,X_test,Y_train,Y_test=train_test_split(X_new,Y_new,test_size=.30)

In [40]:
X_train.shape

(437, 4)

In [41]:
Y_train.shape

(437,)

In [42]:
from sklearn.neighbors import KNeighborsClassifier  ##import the trainer of classification and distribution method
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [50]:
knn=KNeighborsClassifier(n_neighbors=5)  ##calling of constructor
gaussian=GaussianNB()
multinomial=MultinomialNB()
bernoulli=BernoulliNB()

In [51]:
my_knn_model=knn.fit(X_train,Y_train)    ##fitting of data
my_multinomial_model=multinomial.fit(X_train,Y_train)
my_bernaulli_model=bernoulli.fit(X_train,Y_train)
my_gaussian_model=gaussian.fit(X_train,Y_train)

In [52]:
Yp_Knn=my_knn_model.predict(X_test)
Yp_Gau=my_gaussian_model.predict(X_test)
Yp_Multi=my_multinomial_model.predict(X_test)
Yp_Bern=my_bernaulli_model.predict(X_test)

In [62]:
my_knn_model.predict([[1,1,3,1]])   ##prediction the class
my_gaussian_model.predict([[1,3,1,1]])

array(['L'],
      dtype='<U1')

In [53]:
from sklearn import metrics

In [56]:
acc_gau=metrics.accuracy_score(Y_test,Yp_Gau)   ##finding the accuracy by different method(classification and distribution)
acc_mul=metrics.accuracy_score(Y_test,Yp_Multi)
acc_ber=metrics.accuracy_score(Y_test,Yp_Bern)
acc_knn=metrics.accuracy_score(Y_test,Yp_Knn)

In [57]:
print("Accuracy of knn is {}".format(acc_knn))
print("Accuracy of knn is {}".format(acc_ber))
print("Accuracy of knn is {}".format(acc_mul))
print("Accuracy of knn is {}".format(acc_gau))

Accuracy of knn is 0.851063829787234
Accuracy of knn is 0.4521276595744681
Accuracy of knn is 0.8617021276595744
Accuracy of knn is 0.8882978723404256